<div class="profile-wrap">
  <div class="row">
    <div class="col-md-10">
      <% provide(:title, @user.name) %>
      <h1>
        <% if @user.image? %>
          <%= image_tag @user.image.thumb50.url, class:"user-profile-icon" %>
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
        <%= @user.name %> 
        <%= link_to "投稿一覧", pictures_path, class: 'btn btn-success btn-lg' if @user.pictures.any? %>
        <%= link_to "お気に入り一覧", favorites_path, class: 'btn btn-warning btn-lg' if @user.favorites.any? %>
      </h1>
    </div>
  </div>
</div>