
<% @pictures.each do |picture| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
     <div class="card">
      <div class="card-header align-items-center d-flex">
        <%= image_tag picture.image.medium.url %>
        <%= link_to user_path(picture.user), class: "no-text-decoration" do %>
        <%= image_tag picture.user.image.thumb50.url, class:"picture-profile-icon" %>
        <% end %>
        <%= link_to user_path(picture.user), class:"black-color no-text-decoration", title: picture.user.name do %>
        <strong><%= picture.user.name%> </strong>
        <% end %>
      </div>
        <div class="card-body">
          <div class="row parts">
            <%= link_to "", "#", class:"love" %>
            <%= link_to "", "#", class:"comment"%>
            <div><strong>「いいね！」１５件</strong></div>
            <div>
              <span><strong><%= picture.user.name %></strong></span>
              <span><strong><%= picture.content %></strong></span>
              <%= link_to time_ago_in_words(picture.created_at).upcase + "前","#",class:"post-time no-test-decoration" %>
              <hr>
              <div class="row parts">
                <form action="#" class="w-100">
                  <div>
                    <textarea class="form-control comment-input border-0" placeholder="コメント..."rows="1"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
       <% end %>  
      </div>
     </div>
  </div>   
