
<% @pictures.each do |picture| %>
  <div class="col-md-8">
    <div class="card-wrap">
     <div class="card">
      <div class="card-header align-items-center d-flex">
        <%= image_tag picture.image.thumb.url %>
        <%= link_to user_path(picture.user), class: "no-text-decoration" do %> <br>
        <%= image_tag picture.user.image.thumb50.url, class:"picture-profile-icon" %>
        <% end %>
        <%= link_to user_path(picture.user), class:"black-color no-text-decoration", title: picture.user.name do %>
        <strong><%= picture.user.name%> </strong>
        <button type="button" class="btn btn-success"><%= link_to "投稿詳細", picture_path(picture.id) %></button>
        <% if picture.user_id == current_user.id %>
        <button type ="button" class="btn btn-danger"><%= link_to "削除", picture_path(picture.id), method: :delete,
                                                       data: {confirm:"Are you sure?"} %></button>
        <% end %>                                                      
        <% end %>
      </div>
       <% end %>  
      </div>
     </div>
  </div>   